*{
    box-sizing: border-box;
    font-family: Poppins, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center
}
.container{
    width:100%;
    background: linear-gradient(9deg, rgba(255,123,0,1) 9%, rgba(254,91,37,0.969625350140056) 35%, rgba(244,139,0,1) 100%);
}
.nav_container{
    width: 90%;
    height: 508px;
    margin: auto;
    
}

.nav{
    margin: 0rem 0rem 2rem 0rem;
    padding-top: 2rem;
    color: #ffffffde;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav .logo{
    float:left;
    margin-top: -9px;
}
.nav a{
    color: rgb(255, 253, 253);
    margin-right: 4rem;

}

.nav-content{
    margin: 8rem 0rem 10rem 0rem;
}
.nav-content h1{
    font-size: 51px;
    margin-bottom: 3rem;
    color: rgb(255, 253, 253);
}
.nav-content p{
    font-size: 16px;
    width:90%;
    margin: 0rem auto 3rem auto;
    color: rgb(255, 253, 253);
}

.search_container input{
    width: 500px;
    border: 1px solid #ffffff;
    border-radius: 32px 32px 32px 32px;
    height: 32px;
    outline: none;
    text-align: left;
    padding-left: 1rem;
    font-size: 16px;
}



.search_container .button{
    border: 2px solid #ffffff;
    border-radius: 32px;
    margin: 0rem 0.5rem;
    padding: 3px 23px;
    font-size: 13px;
    text-transform: capitalize;
    color: #D36906;
    font-weight: 500;
    background-color: #fff; 
    font-weight: bold;
    width: fit-content;
}

input.btn-blue {
    border-radius: 35px;
    width: 20px;
}
input.btn-dark {
    border-radius: 35px;
    width: 20px;
}

/*//////////////////////////////////////////*/
