*{
    box-sizing: border-box;
    font-family: Poppins, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size:16px
}
body{
    margin: 0px;
    background: rgb(5,38,122);
    background: linear-gradient(135deg, rgba(5,38,122,1) 0%, rgba(1,47,98,1) 58%, rgba(3,63,101,1) 100%);
    margin-top: -2.5rem;
}

.container2 {
    margin-top: -3rem;
    margin-left: 4rem;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-height: 550px;
    border: 1px black solid;
    height: 86%;
    width: 83%;
    margin: 2rem auto 0rem auto;
    background-color: white;
    border-radius: 16px;
    margin-top: 5rem;
    box-shadow: 2px 11px 13px 2px #060606c4;
}

.container1{
    width: 40vw;
}

.container1 h2{
    margin-top: 20px;
    font-size: 38px;
    color: #fdfdfd;

}

.container2 h2{
    color: #044889;
    font-size: 30px;
    line-height: 2.4;
    display: unset;
}

.signin-container{
    margin-top: 160px;
}

.container2 img{
    margin-top: 48px;
    margin-left: -50px;
}
.container1 img{
    width: 35vw;
    background-position: cover;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 8px;
}

input[type=submit] {  
    margin: auto;
    border: 1px #fff;
    border-radius: 32px;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 15;
    font-weight: bold;
    background: rgb(5,38,122);
    background: linear-gradient(135deg, rgba(5,38,122,1) 0%, rgba(1,47,98,1) 58%, rgba(3,63,101,1) 100%);
    width: fit-content;
}


input[type=text]{
    width: 100%;
    border: none;
    border: 2px solid #272727;
}
input[type=email]{
    width: 90%;
    border: none;
    border: 2px solid #272727;
}
input[type=password]{
    width: 90%;
    border: none;
    border: 2px solid #272727;
}

.input2{
    display: none;
}

.file-inp
{
    background-color: #044889;
    color: #fff;
    padding: 10px 16px;
    padding: 8px 11px;
    margin-top: 5px;
}

input{
    padding: 14px 16px;
    border-radius: 32px;
    box-shadow: -2px 5px 4px 0px #b4c3cb;
    margin-top: 12px;
    text-align: start;
    border: 1px solid #23315063!important;
    width: -webkit-fill-available;
    margin-bottom: 10px;
}

.alt-action{
    text-align: center;
}

.alt-action a{
    color: #005bab;
    
}

.form div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: -webkit-fill-available;
    gap: 20px;
}

input[type=file]{
    padding: 0px;
    width: 103px;
}

input:focus{
    outline: none;
}

.theme-btn button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.689);
    opacity: 0;
}

.theme-btn {
    position: relative;
    top: 35px;
    left: 450px;
    font-weight: 600;
    font-size: 16px;
    font-family: cursive;
    text-transform: capitalize;
}

.btn-orange{
    background-color: #D36906;
}

.btn-blue{
    background-color: #009eff;
}

.btn-dark{
    background-color: rgb(0, 0, 0);
}

.container1 h2
{
    color: #044889;
    font-size: 24px;
}