

/*
#121212 : background
#1d1d1d : frame
#dcdada : font color

additional...
#bb86fc : purple
#018cea : blue

background: rgb(5,38,122);
background: linear-gradient(135deg, rgba(5,38,122,1) 0%, rgba(0,110,227,1) 51%, rgba(0,158,255,1) 100%);
*/
*{
    color: #dcdada;
}
body{
    background-color: #121212;
}

.container{
    background: #121212;
}
.nav{
    color: #018cea;
}
.nav a{
    color: #dcdada;
}
.nav-content p{
    color: #dcdada;
}

.nav-content h1 {
    color: #ffffff;
}

.info p {
    color: #e2e2e3;
}
.info h6 {
    color: #f6f6f6;
}

.search_container input{
    background-color: #1d1d1d;
    border: 1px solid #1d1d1d;
    color: #fff;
}



.search_container .button {
    color: #fff;
    border: 2px solid #1d1d1d;
    background-color: #2a2a72;
    background: linear-gradient(315deg, rgb(0 158 255) 0%, rgb(3 130 214) 74%) rgb(5, 38, 122);
}

.profile {
    background-color: #1d1d1d;
    border: 1px solid #111;
    box-shadow: -4px 3px 8px 7px #0000007d;
}

.head p {
    color: #1d90ff;
}

.head .field {
    background-color: #333333;
}

.head p {
    color: #e3e3e3;
}

.head .rating {
    background-color: #333333;
    color: #05267a;
}



.info button{
    border: 1px #fff;
    color: #ffffff;
    background: rgb(5,38,122);
    background: linear-gradient(315deg, rgb(0 158 255) 0%, rgb(3 130 214) 74%) rgb(5, 38, 122);
}


